<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>
<body>
    
    <div class="container">
        <h1><center>Welcome</center></h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="id">ID</label>
        <input type="text" class="input" placeholder="ID" name="id">
        <label for="task">Task</label>
        <input type="text" class="input" placeholder="Task" name="Task">
        <input type="submit" class="btn" value="submit">
    </form>
    </div>
    <div class="second">
    <table>
        <tr>
            <th>Id</th>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        {% for i in todo %}
        <tr>
        <td>{{i.Id}}</td>
        <td>{{i.Task}}</td>
        <td><a href="edit/{{i.id}}">Edit</a>
             <a href="delete/{{i.id}}">Delete</a></td>
            </tr>
             
        {% endfor %}
    </table>
</div>
    
</body>
</html>