<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
</head>
<body>
    <table>
        <tr>
        <th>Roll number</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>phone number</th>
    </tr>
    {% for std in data %}
    <tr>
        <td>{{std.roll_no}}</td>
        <td>{{std.name}}</td>
        <td>{{std.age}}</td>
        <td>{{std.email}}</td>
        <td>{{std.pho}}</td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>