<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
</head>
<body>
    <div class="login">
    <form class="login-form" action="" method="post">
        {% csrf_token %}
        <label for="uname">USERNAME</label>
        <input type="text" class="input" placeholder="uname" name="uname">
        <label for="password">PASSWORD</label>
        <input type="password" class="input" placeholder="password" name="password">
        <input type="submit" class="btn" value="Login">
    </form>
</div>
</body>
</html>